body {background-color:black}
h1   {color: lightcyan}
h2   {color: lightcyan}
p    {color: white;}

header {
    background-color: Black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
